.header{
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  top: 30px;
  left: 0;
  right: 0;
  padding: 0 6.01%;
  & > h1{
    font-size: 1.5rem;
    @media screen and (max-width: 415px) {
      font-size: 1.2rem;
    }
  }
  &::before{
    position: absolute;
    bottom: 0;
    content: ' ';
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(rgba(88, 58, 107, 0.26) 1%, transparent 100%);
  }
}
.header__menu{
  display: flex;
  align-items: center;
  & > *{
    margin-right: 5px;
  }

}
.header__menu-link{
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 10px;
  color: white;
  padding: 10px;
  z-index: 1;
  background: linear-gradient(rgba(111, 81, 134, 0.33) 1%, rgba(255, 255, 255, 0.04) 40%);
  transition: .5s ease;
  svg{
    width: 100%;
    height: 100%;
    scale: 1;
    transition: .2s ease;
  }
  &:hover{
    background: linear-gradient(rgba(111, 81, 134, 0.33) 0%, rgba(255, 255, 255, 0.04) 100%);
    svg{
      scale: 0.8;
    }
  }


}
.footer{
  position: relative;
  background-color: #413946;
  //text-align: center;
  padding: 40px 6.01%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 1000px) {
      flex-direction: column;
  }
}
.footer__about{
  h3{
    font-weight: 200;
  }
  @media screen and (max-width: 1000px) {
    text-align: center;
  }
}
.footer__menu{
  display: flex;
  flex-direction: column;
  a{
    font-size: 1.4rem;
    text-decoration: none;
    text-align: right;

  }
  @media screen and (max-width: 1000px) {
    margin-top: 30px;
    a{
      text-align: center;
    }
  }
}

.intro{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6.01%;
  //@media screen and (max-width: 1000px) {
  //
  //
  //}

}
.intro__figures{
  position: absolute;
  z-index: -1;
  top: -50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
}
.intro__figure{
  fill: #755a86;
  position: relative;
  opacity: 0.2;
  z-index: 0;
  &.first{
    width: 18rem;
    height: 18rem;
    filter: blur(15px);
    transform: rotate(35deg);
  }
  &.second{
    width: 13rem;
    height: 13rem;
    grid-column: 2;
    filter: blur(15px);

    transform: rotate(-15deg);
  }
  &.third{
    width: 14rem;
    height: 14rem;
    top: -40px;
    left: 40%;
    filter: blur(20px);
    transform: rotate(25deg);
  }
}
.intro__content{
  display: flex;
  align-items: center;
  height: 100vh;
  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
    height: auto;
  }
}
.intro__content-text{
  @media screen and (min-width: 1000px) {
    width: 650px;
  }
  @media screen and (max-width: 1000px) {
    text-align: center;
  }
}
.intro__text{
  flex: 0 0 100%;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  & > h2{
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
  p{
    font-size: 1.5rem;
    span{
      color: #dcb5f5;
    }
  }
}
.intro__tags{
  width: 100%;
  //border: 1px solid;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    & > *:nth-child(1){
      width: 40%;
    }
    & > *:nth-child(2){
      flex: 1 0 auto;
    }
    & > *:nth-child(3){
      width: 50%;
    }
    & > *:nth-child(4){
      flex: 1 0 auto;
    }
  }

}
.intro__tags-tag{

  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: 10px;
  span{
    margin-left: 10px;
    font-size: 1.2rem;
  }
  & > img{
    width: 2rem;
    height: 2rem;
  }
  @media screen and (max-width: 425px) {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    span{
      margin: 0;
    }
  }
}

.intro__content-image{
  flex: 0 0 auto;
  margin-left: 13%;
  height: 100%;
  @media screen and (max-width: 1500px) {
    margin-left: 8%;
  }
  @media screen and (max-width: 1000px) {
    display: none;
  }
}
.intro__content-image-alt{
  position: relative;
  display: none;
  align-items: center;
  overflow-y: hidden;
  background: rgba(62, 50, 75, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 50px 1px rgba(107, 83, 131, 0.25);
  border: 1px solid rgba(220, 183, 255, 0.06);
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 1000px) {
    display: flex;
    width: 300px;
    height: 300px;
    margin-top: 150px;
    margin-bottom: 30px;
    border-radius: 50%;
  }
}
.intro__poly{
  //opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;

  //filter: url(#blur);
  svg.intro__poly-main{
    position: absolute;
    z-index: 5;
    stroke: white;
    stroke-width: 0.1;
    fill: rgba(55, 44, 62, 65%);
    bottom: 0;
    filter: blur(1px);

  }
  @media screen and (max-width: 1000px) {
    display: none;
  }

}




.counters{
  position: relative;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  place-content: center;
  gap: 0.9rem;
  z-index: 3;
  padding: 0 6.01%;
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem 0;
  }
  @media screen and (max-width: 580px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.counters__counter{

  padding: 10px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(87, 69, 98, 0.15) !important;


  & > h1{
    font-size: 4.2rem;
    line-height: 1;
    color: #dcb5f5;
  }
  p{
    font-size: 1.5rem;
    line-height: 1;
  }
  @media screen and (max-width: 780px) {
    & > h1{
      font-size: 3.2rem;
    }
    p{
      font-size: 1.2rem;
    }
  }
}
.services{
  position: relative;

}
.services__service{
  position: relative;
  //z-index: -1;
  flex: 0 0 auto;
  background: #171717;
  display: flex;
  justify-content: center;
  padding: 40px 6.01%;
  //height: 100vh;
  //align-items: center;
  &.reverse{
    flex-direction: row-reverse;
    img.services__service-image{
      margin-left: 30px;
      margin-right: 0;
    }
  }
  img.services__service-image{

    flex: 0 0 auto;
    border-radius: 20px;
    //display: inline-block;
    width: 32rem;
    height: 32rem;
    object-fit: cover;
    margin-right: 30px;
    z-index: 2;
    @media screen and (max-width: 780px) {
      width: 22rem;
      height: 22rem;
      float: left;
    }
  }
  div.services__service-price{
    padding: 10px 0 0 0;
    span{
      color: #dcb5f5;
      font-weight: inherit;
    }
    & > a{
      margin: 0.5rem 0 0 0;
      display: block;
      width: fit-content;
      border-radius: 10px;
      font-size: 1.2rem;
      padding: 0.8rem 1.2rem;
      background-color: #9F73BA;
    }

  }
  div.services__service-desc{
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

    & > h1{
      font-size: 2.2rem;
      margin-bottom: 0.5rem;
    }
    p{
      flex: 1 0 auto;
      overflow: hidden;
    }
    @media screen and (max-width: 780px) {

      font-size: 1.2rem;
      & > h1{
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
  &:first-child{
    padding: 0 6.01% 40px 6.01%;
  }
  @media screen and (max-width: 780px) {

    flex-direction: column;
    align-items: center;
    &.reverse{
      flex-direction: column;
    }
    img{
      margin: 0 !important;
    }
    p{
      text-align: justify;
    }
  }
}


.pastesPhoto{
  position: relative;
  width: 100%;
  height: 50vh;
  transition: 1s ease;
  z-index: 2;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center top;
  &::after{
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.81);
  }
  &::before{
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#171717 12%, #DDA7FF 90%);
    opacity: .3;
    z-index: 10;
  }

  @media (max-width: 1000px) {
    display: none;
  }
}
.gallery{
  position: relative;
  z-index: 3;
  padding: 0 6.01%;
  & > h1{
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
.gallery__wrapper{
  position: relative;
}
.gallery__slider{
  border-radius: 20px;
}
.gallery__slide{
  //width: 300px !important;
  //opacity: .5;
  user-select: none;
  transition: .2s ease;
  &.active{
    opacity: 1;
  }
  img{
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
  }
}
.gallery__buttons{
  width: 98%;
  //padding: 0 322px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  & > button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #3e324b;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    svg{
      width: 90%;
      height: 90%;
    }
    &.disabled{
      opacity: 0.4;
    }
  }
}
.callback{
  position: relative;
  width: 100%;
  margin: 0 auto;

  padding: 10px 6.01% 0 6.01%;
  & > h1{
    font-size: 2rem;
    margin-bottom: 10px;
    //justify-self: flex-start;

  }
  .callback__figures{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 6.01%;
    display: grid;
    grid-template-columns: auto auto;
  }
  .callback__figure{
    position: relative;
    opacity: 0.2;

    &.first{
      top: 30px;
      font-size: 15rem;
      fill: #5e4777;
      transform: rotate(-15deg);
      filter: blur(10px);
    }
    &.second{
      font-size: 15rem;
      left: 80%;
      fill: #6b5583;
      top: 100px;
      transform: rotate(15deg);
      filter: blur(20px);
    }
    &.third{
      font-size: 15rem;
      left: 60%;
      grid-column: 2;
      fill: #765c94;
      transform: rotate(-45deg);
      filter: blur(15px);
    }
  }
  div.callback__image{
    position: relative;
    z-index: 4;

    margin-top: -120px;
    margin-right: -5px;

    height: 700px;
    background-size: cover;
    background-image: url('/images/photos/cb.png');

  }
  @media screen and (max-width: 1000px) {
    padding: 20px 6.01%;
    & > h1{
      display: none;
    }

  }
}
div.callback__content{
  display: flex;
  justify-content: center;
}
div.callback__messages{
  position: relative;
  justify-self: center;
  width: 500px;
  & > *:not(.callback__image){
    background: #cccccc;
    width: fit-content;
    padding: 5px 20px;
    position: absolute;
    color: #171717;
    border-radius: 20px;
    z-index: 3;
    font-size: 1rem;
    font-weight: 500;

    &:before{
      position: absolute;
      width: 20px;
      height: 20px;
      transform: rotate(25deg);
      content: ' ';
      top: 70%;
      left: 5px;
      background: #cccccc;
      clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
    }
  }
  @media screen and (max-width: 1000px) {
    display: none;
  }

}
.callback__form{
  position: relative;
  z-index: 5;
  padding: 20px;
  max-width: 500px;
  height: fit-content;
  border-radius: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  input{
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    &::placeholder{
      appearance: none;
      -webkit-appearance: none;
      color: #b2b2b2;
    }
  }
  & > button{
    cursor: pointer;
    z-index: 1;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #9F73BA;
    font-size: 1.2rem;
  }
  & > h1{
    text-align: center;

  }
  p{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }
}
